main {
display: flex;
flex-direction: column;
align-items: center;

}

.form-element {

    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
}

.form-element label {
    font-size: 1.2rem;
    font-weight:700;

}

.form-input {
    height: 30px;
    outline: none;
    font-size: 1.1rem;
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
 
}

.form-input:focus {
    box-shadow: 0 0 20px 1px black;

}

/* 
.form-input:not(.message-area){
    height:30px;
} */

.message-area {
    min-height: 200px;
    resize: vertical;
}

.button-div {
    text-align: center;
}

.submit-button {
    height: 40px;
    margin-bottom: 24px;
    min-width: 120px;
    border-radius: 10px;
    background-color: var(--primary-color);
    
}

.submit-button:hover {
    box-shadow: 0 0 20px 1px black;
    cursor: pointer;
    background-color: #FFc6c6;
}

@media screen and (min-width: 576px) {
    
    form {
        width: 500px;
    }
    
    .form-element {

        
        flex-direction: row;
        justify-content: space-between;
    }

    .form-input {
        width: 70%;
    }
}

@media screen and (min-width: 768px) {
    
}